ul,li { 
    padding: 0; margin: 0; 
}
li{ 
    list-style: none; 
}
body{
	background: url(../img/官网背景.jpg);
	opacity: 0.6;
}
button{
	height: 40px;
	width: 70px;
	background-color:gold;
	color:darkorange;
	border: solid;
	border-color: orange;
	margin-top: 0px;
}
a:link{
	text-decoration: none;
	
}
address{
	position: absolute;
	left: 250px;
	top: 1000px;
}
#box{
    height: 48px;
    width: 900px;
    background-color: #459DF5;
    margin: 50px auto;
    position: relative;
}
#caution {
    width: 150px;
    height: 48px;
    background-color: #4B92D8;
    position: absolute;
    top: 0;
    left: 0;
}
#list {
    position: absolute;
}
#list li {
    width: 150px;
    height: 48px;
    float: left;
    color: #fff;
    font: 500 20px/48px "微软雅黑";
    text-align: center;
    cursor: pointer;
}
.frame{
	display: block;
	width: 940px;
	height: 560px;
	background-color: #9CC5EF;
	margin: 0 auto;
	padding: 8px;
}
.zuo{
	display: block;
	width: 290px;
	height: 537px;
	background-color: cornflowerblue;
	float: left;
	padding: 8px;
	margin-left: 4px;
}
.zhong{
	display: block;
	width: 290px;
	height: 537px;
	background-color: dodgerblue;
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	padding: 8px;
}
.you{
	display: block;
	width: 290px;
	height: 537px;
	background-color: cornflowerblue;
	position: relative;
	float: left;
	padding: 8px;
}
.involve{
	margin-left: 43px;
	margin-top: 38px;
}
.machine{
	width: 340px;
	height: 38px;
}
.search{
	float: right;
	margin-right: 174px;
	margin-bottom: 30px;
}
.logo{
	margin-left: 190px;
	margin-top: 20px;
	height: 100px;	
}
.box{
	margin-bottom: 0px;
}
.foot{
	width:1000px;
	height: 180px;
	align-content: center;
	}
.div1{
	margin: 20px;
	height: 130px;
	width: 440px;
	border: solid 1px;
	float: left;
}
.div2{
	margin: 20px;
	width: 430px;
	height: 130px;
	border: solid 1px;
	float: left;
	padding-top: 8px;
}
.p3{
	line-height: 35px;
	text-align: left;
}
.content{
	align-content: center;
}
